.kingHeader {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #000411;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: center;
}

.innerHeader {
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .kingHeader {
    position: relative !important;
  }
}

.lionPaths {
  fill: #bfa25d;
  z-index: 999;
}

.king a {
  display: flex;
  align-items: center;
}

.logo circle {
  fill: #000411;
}

.logo:hover circle {
  animation: fillChange 0.5s infinite;
}

@keyframes fillChange {
  0% {
    fill: var(--black);
  }
  14% {
    fill: var(--pink);
  }
  28% {
    fill: var(--blue);
  }
  42% {
    fill: var(--indigo);
  }
  56% {
    fill: var(--salmon);
  }
  70% {
    fill: var(--red);
  }
  100% {
    fill: var(--white);
  }
}

.utils {
  display: flex;
  gap: 1rem;
}

.user {
  display: flex;
  position: relative;
  align-items: center;
  
}

.user img {
  border-radius: 50%;
  cursor: pointer;
}

.user img:hover {
  border: solid 2px var(--gold) !important;
}

.login {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: industry, sans-serif;
}

.login:hover {
  color: var(--gold);
}

.profileMenu {
  background-color: var(--charcoal);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 999;
  margin-top: 10px;
  border: solid 1px var(--gold);
}

.logout  {
  border: none;
  background-color: transparent;
  padding: 1rem 3rem;
  cursor: pointer;
  font-family: industry, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--red);
  border-top: 1px solid transparent;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.logout:hover {
  background-color: rgba(255, 107, 107, .2);
  border-top: 1px solid var(--red);
}

.userInfo {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.popupWrapper {
  position: absolute;
  top: 100%;
  left: 100%;
  opacity: 0;
  animation: popup .1s ease-in forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup {
  display: inline-block;
  position: absolute;
  transform: translate(-100%);
}

.popupInnerWrapper {
  position: relative;
  display: inline-block;
}

.triangle {
  position: absolute;
  top: -8px;
  right: 8px;
}

.popupTrigger {
  border: none;
  background: none;
}



